.posts-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;

  & > li {
    list-style: none;
    width: 48%;
    margin: 5px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 15%);
    border: 1px solid #cecece;
    padding: 20px;
    border-radius: 5px;

    .btn-danger{
      margin-left: 5px;
    }

    .title {
      font-weight: bold;
      text-decoration: underline;
    }
    .update-delete-buttons{
      color:white;
    }
  }
}
#paginator{
  li{
    list-style: none;
    display: inline-block;
    min-width: 30px;
    padding:10px;
    text-align: center;
    margin: 5px;
    border: 1px solid black;
    &:hover{
     cursor: pointer;
    }
    &.active{
      background: blue;
      color: white;
    }
  }
}