* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  font-size: 17px;
  min-width: 350px;
}
.fl-left{
  float:left;
}
.fl-right{
  float:right;
}
.clear{
  clear: both;
}
.ml20p{
  margin-left: 20px;
}
.pl20p{
  padding-left: 20px;
}
