.footer{
  background-color: transparent;
  border-top: 1px solid #222222;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 60px;
  width: 100%;
  color: white;

  .text {
    position: relative;
    top: 20px;
    color: #222222;
  }
}