.footer{
  background-color: transparent;
  border-top: 1px solid #222222;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 60px;
  width: 100%;
  color: white;

  @media screen and (max-width: 400px) {
    height: 120px;
  }

  .text-block{
    position: relative;
    top:3px;
    left:10px;

    .text {
      color: #222222;
    }
  }

  .icon{
    width:32px;
    height: 32px;
    float:left;
    margin:10px;

    img{
      max-width: 32px;
      max-height: 32px;
    }
  }
}